# Jupyter in VsCode

In [8]:
print("next one")

name = input("Enter you name:")
print("Hello ", name)


#BEDMAS
print(4*5-9+6/7)

inc = 9
inc += 1
print(inc)
inc -= 2
print(inc)

next one
Hello  sanyam
11.857142857142858
10
8

print(" first one")

In [5]:
`jupiter

SyntaxError: invalid syntax (1480295160.py, line 1)

In [3]:
var_int = 5
var_float = 6.9
var_string = "Jpyter"

print(type(var_int))
print(type(var_float))
print(type(var_string))

<class 'int'>
<class 'float'>
<class 'str'>

In [14]:
n1 = 10
n2 = 40
n3 = 3
n4 = 38

print(n1+n2)
print(n2-n1)
print(n1*n2)
print(n4/n1)
print(n4//n1)
print(n2**n3)
print(n2^n3)
print(n2%n3)

50
30
400
3.8
3
64000
43
1

In [29]:
# prog to find square of 5

num = 5

print("square of num is:", num**2)

for i in range(1):
    print("sqr of num: ", num*num)


# prog to find square of 5
a = 10
b = 15
c = 20
d,e,f = 10,15,20

print("Avg of a b c is", (a+b+c)/3)


# prog to convert 10 degree celcius to Farehite

cel = 10
faren = (9/5)*cel + 32
print("farenhite of 10 cel is:", faren)

# prog to get SI on p = 1000, roi = 12%, time = 5 year
p = 1000; roi = 12; t = 5

si = (p*roi*t)/100
print("SI is: ", si) 

# Find dollor equi of INR 3484.5 where 1$=84.23
inr=3484.5; conv=84.23
print("dollar equi is:", round(inr/conv, 2))

square of num is: 25
sqr of num:  25
Avg of a b c is 15.0
farenhite of 10 cel is: 50.0
SI is:  600.0
dollar equi is: 41.37

In [12]:
# Indexing

str = 'data science'
print(str[5])
print(str[-2])

print(str.title())
print(str.capitalize())
print(len(str))
print(str[2:0])
print(str[2:6])

nums = '123456789'
print(nums[1::2])  # printing even number
print(nums[0::2])  # printing odd numbers

A = 'Data'; B = "Analysis"; C = "Pandas"
print("{0} {1} using {2}".format(A,B,C))

str1 = 'road2win'
str1.islower()

s
c
Data Science
Data science
12

ta s
2468
13579
Data Analysis using Pandas

True

In [47]:
# Data type conversions:
#del str

a=5
print(type(a))
print(type(float(a)))
a1=str(a)
print(type(a1))

b = 5.8
print(type(b))
print(type(int(b)))
print(int(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'int'>
5

In [79]:
# List

list5 = ['Hi']
print(list5*5)
print(list5 + list5)

my_list = [1, 'hello', 3.14, True]
print(type(my_list))
print(len(my_list))

print(my_list[2], my_list[-3])


# Nested List:

list1 = [[1,2,3], ['apple','orrange', 'banana'],3.14, ['dog','cat','bird']]
print(list1[1], '\n', list1[-1])
print(list1[1][1], '\n', list1[-1][-3], '\n', list1[-1][0])

list2 = [1,2,3,4,5,6,7]
print(len(list2), min(list2), max(list2), sum(list2), "avg:",sum(list2)/len(list2) )

list2.append(10)
print(list2)

list2.insert(0,0)
print(list2)

list2.insert(6,15)
print(list2)

list2.remove(15)
print(list2)

list2.sort(reverse=True)
print(list2)

list2.extend([15,18,20,25])   # adds multiple elements at end of list
print(list2)

# list2.clear()
print(list2)

print(list2.count(15))

#print(list2.pop())                  # removes & returns last element
#print(list2.pop())
#print(list2.pop(2))                # removes & returns index element
print(list2)

print(list2.index(18))              # retruns indes of element
print(list2.reverse())  
print(list2)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']
['Hi', 'Hi']
<class 'list'>
4
3.14 hello
['apple', 'orrange', 'banana']
 ['dog', 'cat', 'bird']
orrange
 dog
 dog
7 1 7 28 avg: 4.0
[1, 2, 3, 4, 5, 6, 7, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 10]
[0, 1, 2, 3, 4, 5, 15, 6, 7, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 10]
[10, 7, 6, 5, 4, 3, 2, 1, 0]
[10, 7, 6, 5, 4, 3, 2, 1, 0, 15, 18, 20, 25]
[10, 7, 6, 5, 4, 3, 2, 1, 0, 15, 18, 20, 25]
1
[10, 7, 6, 5, 4, 3, 2, 1, 0, 15, 18, 20, 25]
10
None
[25, 20, 18, 15, 0, 1, 2, 3, 4, 5, 6, 7, 10]

In [123]:
# Dictionary

d={"orange":3, "apple":2, "banana": 3}
print(type(d))
print(len(d))

print(d.keys())
# strings/integer/float/tuples
# keys must be unique, non duplicates - why?

print(d.values())
# strings/integer/float/boolean/list/dict/tup/set etc

d1={"orange":3, "apple":4, "banana":2, "melon":{"watermelon":2,"muskmelon":5} ,"kiwi":[2,3,4], "is_fruit":True }
print(type(d1))
print(d1.keys())
print(d1.values())
print(d1["orange"], d1["melon"], d1["melon"]["muskmelon"], d1["kiwi"][1] )

person = {'first_name': 'Diya', 'last_name': 'Kumar', 'age': 30, 'gender': 'F', 'phone': 87387190, 'is_employed': True}

nested_person = {'first_name': 'Gopal', 
                 'last_name': 'Verma', 'age': 30, 'gender': 'Male', 
                 'address': {'street': '2nd Main Road', 
                             'city': 'Bengaluru', 'state': 'Karnataka', 
                             'zip_code': 56873}, 
                 'email': 'gopalverma@upgradlearn.com', 'phone': [21218765, 13134587], 
                 'is_employed': True}


print(nested_person["gender"], nested_person["address"]["state"], nested_person['phone'][1])

d2={"a":1,"b":2}
d3={"b":3,"d":4}
d2.update(d3)                 # use update() to update dict
d2

d2["d"] = 6

d2

#d2.popitem()                  # removes last item
d2

#d2.clear()                     # clear the dict
print(d2)
print("<break>")
for key,val in person.items():
    print(key,val)

<class 'dict'>
3
dict_keys(['orange', 'apple', 'banana'])
dict_values([3, 2, 3])
<class 'dict'>
dict_keys(['orange', 'apple', 'banana', 'melon', 'kiwi', 'is_fruit'])
dict_values([3, 4, 2, {'watermelon': 2, 'muskmelon': 5}, [2, 3, 4], True])
3 {'watermelon': 2, 'muskmelon': 5} 5 3
Male Karnataka 13134587
{'a': 1, 'b': 3, 'd': 6}
<break>
first_name Diya
last_name Kumar
age 30
gender F
phone 87387190
is_employed True

In [76]:
# Tuples - () & Set - {}

tup = (0,0,0,0,1,2,3,4,4,4,5)
print(tup)
print(tup.count(4))
print(tup.index(5))

print(sorted(tup))

# updating tupls - changing to list & back to tup
ls = list(tup)
ls.append(5)

tup = tuple(ls)
print(tup)


# Set - for mathematical use cases:
# doesn't maintain order, mutable, not support indexing & slicing, not allow dups

s = {0,0,1,2,3,4,4,4,4,5,5}
print(s)

s.add(9)                # adding value to set
print(s)
print(9 in s)

s1 = set()
print(s1)

s1 = {1,2,3,4}
s2 = {4,5,6,7}

print(s1.difference(s2))
print(s1.intersection(s2))
print(s1|s2)
print(s1-s2)

SyntaxError: invalid syntax (1426047603.py, line 38)

In [104]:
l = ['1','2','3','4']

l[:]

input_dict={'Name': 'Monty', 'Profession': 'Singer' }
ans = input_dict.get('Label', 'NA')
print(ans)
print(input_dict)
print(list(input_dict.keys()))
print('Name' in input_dict)

dict1 = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
print(dict1['Tim Cook'])
print(list(dict1.values()))
print(list(dict1))

d2 = {'a':1, 'b':2}
d2

dict_1 = {"Python":40, "R":45}
del dict_1['R']
print(dict_1)

NA
{'Name': 'Monty', 'Profession': 'Singer'}
['Name', 'Profession']
True
Apple
['Twitter', 'Apple', 'Amazon', 'RJIO']
['Jack Dorsey', 'Tim Cook', 'Jeff Bezos', 'Mukesh Ambani']
{'Python': 40}

In [105]:
list_1 = [1,2,3,4,5,6]
list_2 = [2,3,4,5,6,7,8,9]

set_1 = set(list_1)#Type your answer here
set_2 = set(list_2)#Type your answer here
answer_1 = set_1.difference(set_2)#Type your answer here
answer_2 = set_1.symmetric_difference(set_2)#Type your answer here

print(answer_1)
print(answer_2)

{1}
{1, 7, 8, 9}

In [127]:
# Control stmts:
import string

input_str = 'Alpha'
print(input_str[0].upper())

if (input_str[0].upper()) == 'A' or (input_str[0].upper()) == 'E' or (input_str[0].upper()) == 'I' or (input_str[0].upper()) == 'O' or (input_str[0].upper()) == 'U':
    print('YES')
else:
    print("NO")

if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

d1 = {0, 1, 2}
for x in d1:
    print(d1.add(x))

A
YES
B
0
1
2
None
None
None

In [119]:
# Loops:
# For loop:

for i in range(1,5):
    print(i)
print("<break>")
for i in range(1,10,2):
    print(i)

for word in input_str:
    print(word)

for n,word in enumerate(input_str):
    print(word, n)

1
2
3
4
<break>
1
3
5
7
9
A
l
p
h
a
A 0
l 1
p 2
h 3
a 4

In [136]:


for i in range(1,6):
    if (i % 3 == 0):
        print(i,  " is Divisible by 3")
        pass        #break continue pass

    print(i , " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is Divisible by 3
3  is not divisible by 3
4  is not divisible by 3
5  is not divisible by 3

In [147]:
# Comprehensions:

sq_list = []
for i in range(1, 9):
    sq_list.append(i**2)
print(sq_list)

# using list comprehensions:
sq_list1 = [] 
sq_list1 = [x**2 for x in range(1,9)]
print(sq_list1)

sq_dict = {num: num**2 for num in range(0,8)}
print(sq_dict)


# Functions:

def fact(n):
    if n > 1:
        m = n * fact(n-1)
        return(m)
    else:
        return n

print("factorial of 5 is:", fact(5))

def sum1(*args):
    print(args)
    return(sum(args))

print(sum1(1,2,3,4,5))

product = lambda x,y : x*y
print("lambda expamle:", product(3,4))

a = 2; b = 3
greater = lambda a,b : a if a > b else b
print(greater(a,b))

a1 = [1, 2, 3]
b1 = a1
print(id(a1))  # Outputs the unique identifier for the list object
print(id(b1))  # Outputs the same identifier as a, since b references the same object

min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
factorial of 5 is: 120
(1, 2, 3, 4, 5)
15
lambda expamle: 12
3
1413153198464
1413153198464

9996

In [201]:
# Map, Filter & Reduce
# sqre the num in list

list1 = [2,4,5]
print(map(lambda x: x**2, list1))
print(list(map(lambda x: x**2, list1)))

def sqrt(n):
    return n**2

#print(list(map(sqrt, list1)))

list11 = ['nikola', 'albert', 'james']
list22 = ['tesla', 'einstein', 'watt']

proper = lambda x,y : x[0].upper()+x[1:]+' '+y[0].upper()+y[1:]
print(list(map(proper, list11, list22)))


# Filter:
divby3 = lambda x: x%3==0
list2 = [3,4,5,6,7,8,9]
div = filter(divby3, list2)
print(list(div))

# Reduce:
from functools import reduce
q = reduce(lambda x,y: x+y, range(1,4))
print(q)

list33 = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y, list33))
p = lambda x,y: x if x>y else y, list33
print(p)

<map object at 0x0000014906961FD0>
[4, 16, 25]
['Nikola Tesla', 'Albert Einstein', 'James Watt']
[3, 6, 9]
6
94
(<function <lambda> at 0x00000149067E3670>, [22, 45, 32, 20, 87, 94, 30])

In [177]:
list2 = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']  #['sam', 'sun', 'mon']
a = 0

def cnt(n1):
    #n1 = n.str()
    a=0
    print(n1[0])
    if n1[0].upper() == 'S':
        a = a+1
        print(a)
        return(a)
    else:
        return 0

def cnt2(n2):
    if n2.startswith('S') == True:
        return 1
    else:
        return 0
    
count = list(map(cnt2, list2))   
print(sum(count))

3

In [228]:
list11 = ['nikola', 'albert', 'james']
list22 = ['tesla', 'einstein', 'watt']



print(len(list11))
print(type(len(list11)))

full = lambda x,y : x[:] + " " +y[:] 
#full = lambda x,y : [x[:] + " " +y[:] for i in range(len(list11))]
print(type(full))
print(list(map(full, list11,list22)))

#Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
list33 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
divby5 = lambda x: x%5==0
print(list(filter(divby5, list33)))

#Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.
list44 = ['hdjk', 'salsap', 'sherpa']

rl = lambda x: x[0].lower() == 's' and x[-1].lower() == 'p'
print(list(filter(rl, list44)))


#Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
#If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.
input_list = ['I','Love','Python']
red = reduce(lambda x,y: x+" "+y, input_list )
print(red)

print(((500//7) % 5) ** 3)
S = 'I love Python'
print(S[-11:-7], S[2:6])

L = [1, 2, 3]
print(L*2)
print(list(map(lambda x: x**2, L)))

L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
print(L[2: ])

D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

# Factorial with using reduce()
num = 5
list5 = []
list55 = lambda: [list5.append(i) for i in range(1, num)]
#list55 = lambda: [list5.append(i) for i in range(1, num)]

print(list55())
print(list5)
ans1 = reduce(lambda x,y: x*y, list5)
print(ans1)

3
<class 'int'>
<class 'function'>
['nikola tesla', 'albert einstein', 'james watt']
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
['salsap']
I Love Python
1
love love
[1, 2, 3, 1, 2, 3]
[1, 4, 9]
[[7, 8, 9, 10]]
1
2
3
15
21
[None, None, None, None]
[1, 2, 3, 4]
24

In [253]:
#[[2, 5, 9, 12, 13, 15, 16, 17, 18, 19], [2, 4, 5, 6, 7, 9, 13, 16], [1, 2, 5, 9, 10, 11, 12, 13, 15]]

C = [2, 5, 9, 12, 13, 15, 16, 17, 19, 18]
F = [2, 4, 5, 6, 7, 9, 16, 13]
H = [1, 2, 5, 9, 10, 11, 12, 15, 13]
A = []
for i in range(1,21):
    A.append(i)

print(A)

C.sort()
F.sort()
H.sort()

print(C, "\n", F, "\n", H)

c_set = set(C)
f_set = set(F)
h_set = set(H)
a_set = set(A)

ans1 = c_set & f_set & h_set
ans2 = (c_set & f_set) - h_set
ans3 = ((c_set & f_set) - h_set) | ((c_set & h_set) - f_set) | (h_set & f_set) - c_set
ans4 = a_set - (c_set | f_set | h_set) 
#c_set.intersection(f_set).inetrsection(h_set)


print("Students who play all the three sports:", sorted(ans1))
print("Students who play both cricket and football but don’t play hockey:", sorted(ans2))
print("Students who play exactly two of the sports:", sorted(ans3))
print("Students who don’t play any of the three sports:", sorted(ans4))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
 [2, 4, 5, 6, 7, 9, 13, 16]
 [1, 2, 5, 9, 10, 11, 12, 13, 15]
Students who play all the three sports: [2, 5, 9, 13]
Students who play both cricket and football but don’t play hockey: [16]
Students who play exactly two of the sports: [12, 15, 16]
Students who don’t play any of the three sports: [3, 8, 14, 20]